*{
	margin:0px;
}
body{
	/*text-align:center;*/
	margin:10px;
}
.title{
	margin-bottom:20px;
	padding:20px;
	border-width:2px;
	border-color:#000000;
	border-radius:5px;
	background:linear-gradient(#ffffff,#99ffff);
}
.btn{
	outline:none;
	border-width:1px;
	border-color:#000000;
	border-radius:5px;
	background:linear-gradient(#ffffff,#ccffff);
	font-size:20px;
	padding:10px;
}
.btn:hover{
	background:linear-gradient(#ffffff,#99ffff);
}
.btn:active{
	background:linear-gradient(#ffffff,#33ffff);
}
.menu{
	display:flex;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-color:#000000;
	margin:0px;
}
.tag{
	outline:none;
	cursor:pointer;
	border-width:0px;
	border-color:#000000;
	background:#ffffff;
	font-size:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	margin-bottom:0px;
}
.sel{
	border-style:solid;
	border-width:1px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	outline:none;
	cursor:default;
	background:#ffffff;
	border-bottom-color:#ffffff;
	margin-bottom:-1px;
}
.sel:hover{
	background:#ffffff;
}
.hidden{
	display:none;
}
.box_left{
	display:inline-block;
	background:#dddddd;
	width:200px;
}
.op{
	margin:0px;
}
.box_right{
	display:inline-block;
	background:#cccccc;
	vertical-align:top;
}
.rs_item{
	background:#eeeeee;
	border-bottom:solid 1px #666666;
	padding:20px;
}
.rsname{
	margin-left:10px;
	width:30px;
}
.rs_title{
	display:block;	
}
.tl_item{
	background:#ffffff;
	border-bottom:solid 1px #666666;
	padding:20px;
}