body.calc{
	background:linear-gradient(#ddffff,#ffffff)
}
.btnfrm,.btn{
	outline:none;
	display:inline-block;
	border-radius:10px;
	border:red;
	box-shadow:0px 3px 0px #cccccc
}
.btn:active{
	transform:translateY(2px);
	box-shadow:0px 1px 0px #cccccc
}
.btnfrm{
	padding:10px;
	cursor:default;
	background:#88ffff;
}
.btn{
	padding:5px;
	font-size:20px;
	margin:5px;
	cursor:pointer;
	height:50px;
	width:50px;
}
.ioput{
	outline:none;
	display:inline-block;
	border-radius:10px;
	border:red;
	box-shadow:inset 0px 5px 0px #cccccc;
	font-size:23px;
	cursor:insert;
	height:50px;
	width:200px;
}
.num{
	background:#ffffbb;
}