*{
	margin:0px;
}
::selection{
	background:#00ffff;
}
body{
	text-align:center;
	font-size:25px;
}
h1{
	color:blue;
	background:#00ffff;
}
h1::selection{
	background:#0000ff;
	color:white;
}
h2.cls404{
	color:red;
	font-size:250px;
}
li.top{
	float:left;
	height:70px;
	margin:0px;
	//padding-left:20px;
	//padding-right:20px;
	padding:30px;
	padding-top:0px;
	padding-bottom:0px;
}
ul.top{
	list-style:none;
	font-size:15px;
	height:70px;
	line-height:70px;
	background:#aaffff;
	display:block;
}
a{
	color:#0077ff;
	text-decoration:none;
}
a.top{
	color:#000000;
}
li.top,a.top{
	transition-property:background,transform;
	transition-duration:0.5s;
	background:#aaffff;
}
li.top:hover,a.top:hover{
	transition:0.5s;
	transform:translateY(15px);
	background:#88ffff;
}