*{
	margin:0px;
	padding:0px;
}
body{
	text-align:center;
}
h1{
	margin:5px;
}
div.game{
	display:inline-block;
}
ul{
	list-style:none;
	display:block;
}
li{
	margin:-1px;
	list-style:none;
	float:left;
	display:inline-block;
	background:white;
	border:solid 1px #dfdfdf;
}
.white{
	background:#ffffff;
}
.yellow{
	background:#fecc66;
}
.red{
	background:#fb0207;
}
.blue{
	background:#0080ff;
}